---
name: CI checks

on: push

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.89.0
          components: rustfmt, clippy
      - name: Run test script
        run: |
          bash .github/scripts/cargo.sh
  cargo-publish:
    needs:
      - cargo-test
    uses: Cosmian/reusable_workflows/.github/workflows/cargo-publish-workspace.yml@develop
    if: startsWith(github.ref, 'refs/tags/')
    with:
      toolchain: 1.89.0
    secrets: inherit
  cleanup:
    needs:
      - cargo-test
    uses: Cosmian/reusable_workflows/.github/workflows/cleanup_cache.yml@develop
    secrets: inherit
